services:
  nginx:
    image: nginx:mainline
   
  node-app:
    build: .  
    environment:
      - PORT=3000
    env_file:
      - ./.env
    depends_on:
      - mongo
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-db:/data/db

  redis:
    image: "redis:alpine"
    
volumes:
  mongo-db: